button{
    width: 113px;
    height: 30px;

    border-radius: 20px;
    border: 1px solid #D2D2D2;
    background: linear-gradient(180deg, #D9D9D9 0%, rgba(217, 217, 217, 0.00) 100%);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.40);
    
    color: #522AB3;
    text-shadow: 1px 2px 2px #515151;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: all .2s ease;
}

button:hover {
    color: white;
    background: linear-gradient(180deg, #EB4B70 0%, rgba(138, 103, 143, 0.00) 100%);
    transform: translateY(-1px);
    
}